<div class="card mb-2 shadow-sm">
  <div class="card-body p-2 position-relative">
    <button
      type="button"
      class="btn btn-link p-0 mb-1 text-start w-100 text-decoration-none"
      (click)="selectTask(task().id)"
    >
      {{ task().name }}
    </button>
    @if(task().description) {
    <p class="card-text small text-muted mb-0 text-truncate">
      {{ task().description }}
    </p>
    }
    <button
      (click)="deleteTask(task().id)"
      class="btn btn-sm btn-danger position-absolute top-0 end-0 m-1"
      aria-label="Delete Task"
    >
      <i class="bi bi-trash"></i>
    </button>
  </div>
</div>
