<div class="d-flex justify-content-center align-items-center p-2">
  <div style="width: 100%">
    @if(!isFormVisible) {
    <button class="btn btn-outline-secondary w-100" (click)="showForm()">
      Add task
    </button>
    } @else {
    <form [formGroup]="form" (ngSubmit)="create()">
      <input
        id="name"
        formControlName="name"
        class="form-control mb-2"
        placeholder="Enter task name"
        autofocus
      />
      <button
        type="submit"
        class="btn btn-primary w-100 mb-2"
        [disabled]="form.invalid"
      >
        Create Task
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary w-100"
        (click)="hideForm()"
      >
        Cancel
      </button>
    </form>
    }
  </div>
</div>
